.iconStyle{
  width: 15px;
  height: 15px;
}
.forwardBox{
  border-radius: 3px;
  padding: 6px;
  margin-bottom: 5px;
}

.timeAndType{
  font-size: 11px;
}
.title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60vw;
  display: block;
}