.iconStyle{
  width: 15px;
  height: 15px;
}
.forwardBox{
  border-radius: 3px;
  padding: 6px;
}

.timeAndType{
  font-size: 10px;
  margin-bottom: 3px;
  line-height: 1;
  margin-top: 4px;
}
.title{
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  width: 70vw;
  margin-top: 3px;
  line-height: 1;
  line-height: 14px;
  color: #222;
}