.iconStyle{
  width: 15px;
  height: 15px;
}
.forwardBox{
  border-radius: 3px;
  padding: 6px;
}

.timeAndType{
  font-size: 10px;
  margin-bottom: 3px;
  line-height: 1;
  margin-top: 4px;
}
.title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60vw;
  display: block;
  margin-top: 3px;
  line-height: 1;
  color: #222;
}