.footer{
  padding: 0 40px;
  .za-button--md{
    height: 50px;
  }
}
.bg{
  display: block;
  width: 100%;
}
.m-tips{
  word-break: keep-all;
  word-wrap: break-word; 
  white-space: pre-wrap
}
.me-tips{
  padding: 20px 16px;
}
.right-badge{
  font-size: 14px;
  color: #999;
}
.tips-title{
  padding-left: 16px;
  @include title(25)
}
.btn-txt{
  @include title(17);
  font-weight: 600;
}