.nickname{
  @include title(25)
}
.footer{
  padding: 0 40px;
  .za-button--md{
    height: 50px;
  }
}
.bg{
  display: block;
  width: 100%;
}
.m-tips{
  word-break: keep-all;
  word-wrap: break-word; 
  white-space: pre-wrap
}