.active{
  font-size: 19px;
  font-weight: bolder;
  transition: all .2s;
  color: #333333;
}
.unactive{
  color: #666666;
  font-size: 15px;
}
.za-tabs--horizontal .za-tabs__tablist{
  height: 50px;
  .za-tabs__tab{
    position: relative;
    .badge{
      position: absolute;
      top: 6px;
      right: 7px;
    }
  }
}
.za-tabs--horizontal .za-tabs__line{
  height: 4px;
  margin-bottom: 2px;
  .za-tabs__line__inner{
    border-radius: 10px;
  }
}
.za-tabs{
  .za-tabs__header{
    background-color: white;
    &::after{
      display: none;
    }
  }
}
.createPosts{
  right: 15px;
  z-index: 555;
  bottom: 30px;
}
.Panel{
  padding-top: 10px;
}