
.comment{
  margin-left: 10px;
  height: 40px;
  border-radius: 500px;
  background-color: $themeBg;
}
.commentNickname{
  @include title(15)
}
.footerBtn{
  width: 133px;
  margin: 15px auto 30px;
  .za-icon--arrow-right{
    font-size: 8px;
    margin-left: 7px;
  }
  .za-button{
    height: 33px;
  }
}
.content{
  padding-right: 30px;
}
.look{
  width: 5px;
  height: 8px;
  margin-left: 7px;
}

.icon{
  width: 13px;
  height: 13px;
}
.like-box{
  margin-right: 24px;
}
.post-detail{
  .m-layout{
    height: calc(100vh - 105px);
  }
}
.at-name{
  color: #475884;
  font-weight: 400;
}
.comment-content1{
  word-break: break-all;
}