
.user-bg{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.app-container{
  position: relative;
  // min-height: 100vh;
  // z-index: 11111;
  height: calc(100vh - var(--window-layout-height));
  overflow-y: auto;
}
.nav-icon{
  width: 30px;
  height: 30px;
}
@mixin headerBgView {
  position: relative;
  z-index: 2;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-box{
  @include headerBgView;
  height: 60px;
}
.userinfo-box{
  @include headerBgView;
  padding: 20px 15px;
  box-sizing: border-box;
}
.avatar-box{
  border-radius: 50%;
  border: 2px solid white;
  width: 79px;
  height: 79px;
}
.user-info{
  margin-left:13px;
}
.username{
  font-size: 22px;
  color: white;
  font-weight: bold;
}
.follow-box{
  margin-top: 35px;
  font-size: 14px;
  .follow-name{
    color: #666;
  }
  .follow-num{
    color: #333;
    font-weight: bold;
    margin-right: 7px;
  }
  div{
    &:first-child{
      margin-right: 22px;
    }
  }
}
.active{
  font-size: 19px;
  font-weight: bolder;
  transition: all .2s;
  color: #333333;
}
.unactive{
  color: #666666;
  font-size: 15px;
}
.za-tabs{
  .za-tabs__header{
    background-color: white;
  }
}
.user-post-content{
  .m-layout{
    height: auto;
    min-height: 400px;
    overflow: hidden;
  }
}
.user-follow-page{
  .m-layout{
    height: calc(100vh - 90px - var(--window-layout-height));
  }
}
.user-detail-header{
  // background: url(~/static/images/user_bg.jpg) no-repeat;
  background-position: top;
  background-size: 100vw 115px;
  background-repeat: no-repeat;
  background-color: white;
}
.intro-content{
  background: #F8F8F8;
  border-radius: 5px;
  padding: 15px 26px;
  margin:  0 15px;
  position: relative;
}
.intro-txt{
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 19px;
}
.quotes{
  width: 8px;
  position: absolute;
  &.left{
    top: 11px;
    left: 7px;
  }
  &.right{
    bottom: 11px;
    right: 7px;
  }
}
.NFT-list{
  padding:0 15px 15px;
  .NFT-title{
    font-size: 19px;
    font-weight: bold;
    color: #333333;
    margin-top: 4px;
  }
}
.NFT-empty-line{
  height: 15px;
}
.nft-list-items{
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 18px;
  .grid-item{
    img{
      width: 100%;
      height: calc((100vw - 60px) / 3);
    }
  }
}
.nft-name{
  margin-top: 7px;
  padding-right: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  width: calc((100vw - 60px) / 3);
}
.view-more{
  width: 105px;
  margin: 5px auto 0;
  padding-bottom: 20px;
  span{
    font-size: 12px;
  }
  img{
    width:4px;
    margin-left: 5px;
  }
}
.tab-header{
  position: sticky;
  top: 45px;
  z-index: 100;
  background: white;
  .adm-tabs-tab-active{
    font-size: 19px;
    font-weight: bold;
    color: #333333;
  }
}
.tab-content{
  margin-top: 10px;
}
.adm-tabs{
  --active-line-height: 4px;
}