.waiting{
  font-size: 18px;
  font-weight: bold;
  color: #333;
  line-height: 25px;
  text-align: center;
}
.criterion{
  color: #999999;
  font-size: 12px;
  padding: 25px 0;
  line-height: 1;
  text-align: center;
}
.success-img{
  display: block;
  margin: 50px auto 0;
}
.viewInWallet{
  width: 180px;
  margin: 20px auto;
}
.airdrop-content{
  background-size: 100% 179.2vw;
}
.airdrop-box{
  background: white;
  margin: 90px 15px 30px;
  background: #FFFFFF;
  border: 3px solid #BAEBFC;
  border-radius: 15px;
  padding: 16px;
}
.listItem{
  display: flex;
  font-size: 16px;
  margin-bottom: 15px;
  .label{
    color: #666666;
  }
  .value{
    color: #333;
  }
}
.success-tips{
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-top: 10px;
  line-height:20px;
  margin-bottom: 10px;
  word-break: break-word;
}
.twitter-tips{
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  line-height:18px;
  word-break: keep-all;
}
.success-misesid{
  background: #F8F8F8;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  padding: 14px;
  color: #333333;
  font-size: 14px;
}
.misesid-title{
  color: #666666;
  display: inline-block;
  margin-right: 5px;
}
.btn{
  height: 50px;
  border-radius: 50px;
  width: 100%;
  margin: 25px 0;
  background: #FFD72F;
  color:#000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 8px 15px 0px rgba(255, 215, 47, 0.3);
}
.btn-fail{
  height: 50px;
  border-radius: 50px;
  width: 100%;
  color:#000;
  border-color: #000;
  margin: 10px 0 25px;
}
.fail-reason{
  font-size: 14px;
  font-weight: 400;
  color: #FF6464;
  margin-bottom: 15px;
  word-break: break-word;
}
.get-airdrop-reason{
  font-size: 14px;
  font-weight: 400;
  color: rgb(65, 160, 65);
  margin-bottom: 15px;
  word-break: break-word;
}
.font-14{
  font-size: 14px;
}
.airdrop-tips{
  word-break: break-word;
  color: #999999;
  text-align: center;
  margin-top: 15px;
  line-height: 18px;
}
.hourglass{
  width: 35px;
  display: block;
  margin: 16px auto;
}
.remove-twitter-auth{
  color: #5D61FF;
  font-size: 12px;
  text-align: center;
  display: block;
  margin-top: 20px;
}