.airdrop-title{
  font-size: 25px;
  color: #333333;
  font-weight: bold;
  margin-top: 10px;
}
.toClaim{
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  margin: 30px 0 20px;
}
.desc-item{
  font-size: 16px;
  color: #333333;
  line-height: 21px;
  margin-bottom: 10px;
}
.sendTweet{
  width: 180px;
  margin: 50px auto;
}
.skip{
  font-size: 12px;
  color: #5D61FF;
  border: 1px solid #5D61FF;
  border-radius: 50px;
  width: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}