.footer{
  padding: 15px 20px;
}
.commentBox{
  height: calc(100vh - 60px - 60px);
  .m-layout{
    height: 100%;
  }
}
.commentNickname{
  @include title(15);
  color:#111
}
.content{
  margin-right: 36px;
  line-height: 19px;
}
.comment{
  margin-left: 10px;
  height: 40px;
  border-radius: 500px;
  background-color: $themeBg;
}