.followBox{
  background-color:  $themeBg;
  margin-top:10px;
}
.normal{
  .timeAndType{
    font-size: 11px;
  }
  .nickname{
    font-size: 16px;
    font-weight: bold;
  }
  .za-button--xs{
    height: 25px;
    padding: 0 10px;
    .za-icon.followIcon{
      font-size: 10px;
    }
  }
}
.forward{
  .timeAndType{
    font-size: 9px;
  }
  .nickname{
    font-size: 13px;
  }
  .za-button--xs{
    height: 20px;
    padding: 0 6px;
    .za-icon.followIcon{
      font-size: 10px;
    }
  }
}

.itemContent{
  line-height: 19px;
  color: #222;
  word-break: break-all;
  white-space: break-spaces;
}
.forwardBox{
  border-radius: 3px;
  padding: 6px;
}
.iconStyle{
  width: 15px;
  height: 15px;
}
.empty-box{
  margin-top: 75px;
  text-align: center;
}
.empty-icon{
  width: 56px;
  height: 61px;
  display: block;
  margin: 0 auto 30px;
}
.find{
  width: 130px;
  height: 33px;
  line-height: 33px;
  background-color: #5c65f6;
  margin: 39px auto;
  color: white;
  font-weight: bold;
  border-radius: 40px;
}
.m-tips{
  word-break: keep-all;
  word-wrap: break-word; 
  white-space: pre-wrap
}
.recommendation{
  font-size: 18px;
  font-weight: bold;
  padding: 20px  0 15px 20px;
  color: #111;
}
.scroll-view{
  overflow-y: hidden;
  overflow-x: auto;
  width: 100vw;
  padding-left: 15px;
  box-sizing: border-box;
  display: flex;
}
.user-item{
  margin-right: 15px;
  .user-avatar{
    border: 1px solid #5D61FF;
    width: 56px;
    height: 56px;
    // background-image: linear-gradient(45deg, #5D61FF, #FF3D62);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img{
      display: block;
    }
    .add-icon{
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .user-name{
    width: 56px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10px auto;
    color: #111;
    font-size: 12px;
    text-align: center;
    line-height: 1;
  }
  .new-message-icon{
    position: absolute;
    top: 0;
    right: 4px;
  }
}
.notification{
  background: #333333;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  color: white;
  line-height: 40px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  margin: 20px auto;
  .notification-txt{
    margin-left: 13px;
    font-size: 13px;
    font-weight: bold;
  }
}
.follower-view{
  margin-top: 25px;
}